* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f8f8;
}
header {
  background-color: white;
  height: 3rem;
  box-shadow: 0px 5px 16px -15px rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0 1rem;
}

#header-left {
  display: flex;
  gap: 3rem;
  align-items: center;
}

#hamburger-menu {
  background-color: white;
  border: none;
  height: 3rem;
}

#hamburger-menu i {
  font-size: 1.3rem;
}

#logo {
  margin: 0;
  height: 3rem;
}

#header-right {
  display: flex;
  gap: 4rem;
}

#right-nav-links {
  font-size: 0.8rem;
  list-style: none;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1.3rem;
}

#right-nav-links a {
  text-decoration: none;
  color: #676c6c;
  display: inline-block;
}

#right-nav-links a:hover {
  color: rgb(165, 165, 165);
}

#right-nav-links #subscribe {
  color: #b2cfcc;
}

#search {
  align-items: center;
  background-color: white;
  border: none;
}

#search i {
  font-size: 1.1rem;
}

#advertisement-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#banner-ad {
  height: 7rem;
}

main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid #d2d4d3;
  background-color: white;
}

#hero {
  height: 22rem;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: 55%;
  font-family: "PT Sans", sans-serif;
}

#site-path {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.571);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#site-path li:not(:last-child)::after {
  content: "/";
  margin: 0 0.5rem;
}

#current-location {
  font-weight: normal;
}

#hero-header {
  height: 20rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3.6rem;
}

#to-do {
  font-family: "Alegreya", serif;
}

#to-do ul {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}

#to-do ul a {
  text-decoration: none;
  color: black;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid transparent;
  position: relative;
  padding: 5px 10px;
}

#to-do ul a:hover {
  color: rgb(125, 162, 193);
  border: 2px solid lightgray;
}

#to-do p {
  margin: 1rem 8rem;
  font-size: 1.5rem;
}

#to-do p a {
  text-decoration: none;
  color: rgb(68, 136, 165);
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

#socials {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}

#socials a i {
  margin: 0.3rem;
  color: rgb(68, 136, 165);
  font-size: 2rem;
}

#socials a i:hover {
  color: rgb(251, 110, 58);
}

#visit {
  font-family: "Alegreya", serif;
  margin: 0 3rem;
}

#visit-header {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin: 0;
}

#visit-content {
  display: flex;
}

#tiles {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 1rem;
  width: 100%;
}

.tile-text h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}

.tile-text p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.visit-tile {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.tile-icon {
  display: flex;
  width: 15%;
  justify-content: center;
}
.tile-icon i {
  color: #b2cfcc;
  font-size: 3rem;
}

.tile-text {
  max-width: 350px;
}

#prong {
  text-decoration: none;
  color: rgb(68, 136, 165);
}

#advertisement-2 {
  display: flex;
  background-color: rgba(211, 211, 211, 0.181);
  margin-left: auto;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 8rem;
  align-items: flex-start;
}

#bk-ad {
  width: 300px;
}

@media only screen and (max-width: 1400px) {
  #tiles {
    grid-template-columns: 1fr;
  }

  .visit-tile,
  .tile-text {
    width: 100%;
    padding-right: 1rem;
  }
  .tile-text {
    max-width: none;
  }
}

@media only screen and (max-width: 1000px) {
  #right-nav-links {
    display: none;
  }
  #logo {
    position: fixed;
    top: 0;
    left: calc(50% - 43px);
  }

  #advertisement-2 {
    display: none;

    /* Get the tiles to take up the whole space */
  }
}

@media only screen and (max-width: 800px) {
  #advertisement-1 {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  #to-do ul {
    display: none;
  }
  #to-do p {
    margin: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #site-path {
    display: none;
  }
}
